<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Импортированное правило 1" enabled="false" stopProcessing="true">
                    <match url="/(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" pattern="/.*\..+$" ignoreCase="false" />
                        <add input="{REQUEST_URI}" pattern="(?!/.*\.html$).*" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="/{R:1}" />
                </rule>
                <rule name="Импортированное правило 2" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="(.css)" ignoreCase="true" />
                    <action type="Rewrite" url="/css/styles.css" />
                </rule>
                <rule name="Импортированное правило 3" enabled="true" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>