<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Импортированное правило 1" enabled="false" stopProcessing="true">
                    <match url="/(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_URI}" pattern="/.*\..+$" ignoreCase="false" />
                        <add input="{REQUEST_URI}" pattern="(?!/.*\.html$).*" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="/{R:1}" />
                </rule>
                <rule name="Импортированное правило 2" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="(.*?)/?\.css$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name="JS" stopProcessing="true">
                    <match url="(.*?)/?\.js$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name="jpg" stopProcessing="true">
                    <match url="(.*?)/?\.jpg$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name="png" stopProcessing="true">
                    <match url="(.*?)/?\.png$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name=".woff" stopProcessing="true">
                    <match url="(.*?)/?\.woff$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name=".woff2" stopProcessing="true">
                    <match url="(.*?)/?\.woff2$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name="Импортированное правило 3" enabled="true" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/index.php?{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>